#topMenu {
  width: 100%;
  height: auto;
  padding: 0.5em 1.5em;
  background-color: #383b49;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#topMenu .right, #topMenu .left {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#topMenu .right > *, #topMenu .left > * {
  color: #ef6c00;
}

#topMenu .right:last-child, #topMenu .left:last-child {
  margin-right: 3em;
}

#topMenu .right .hoverEffect, #topMenu .left .hoverEffect {
  position: relative;
}

#topMenu .right .hoverEffect::before, #topMenu .left .hoverEffect::before {
  content: '';
  width: 0;
  height: 0.1em;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#topMenu .right .hoverEffect:hover::before, #topMenu .left .hoverEffect:hover::before {
  width: 100%;
}

#topMenu .right .hoverEffect:hover, #topMenu .left .hoverEffect:hover {
  color: #ff943d;
}

#topMenu .right .basketHover:hover, #topMenu .left .basketHover:hover {
  -webkit-animation: shake 0.5s linear 0s 1 forwards;
     -moz-animation: shake 0.5s linear 0s 1 forwards;
          animation: shake 0.5s linear 0s 1 forwards;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  75% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: rotate(-25deg);
         transform: rotate(-25deg);
  }
  25% {
    -moz-transform: rotate(25deg);
         transform: rotate(25deg);
  }
  50% {
    -moz-transform: rotate(-25deg);
         transform: rotate(-25deg);
  }
  75% {
    -moz-transform: rotate(-25deg);
         transform: rotate(-25deg);
  }
  100% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(-25deg);
       -moz-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
       -moz-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  75% {
    -webkit-transform: rotate(-25deg);
       -moz-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#topMenu .right > *:not(:first-child) {
  margin-right: 4em;
}

#topMenu .right .login, #topMenu .right .home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#topMenu .right .login i, #topMenu .right .home i {
  font-size: 1.6em;
}

#topMenu .right .login p, #topMenu .right .home p {
  margin-right: .5em;
  font-size: 1.6em;
}

#topMenu .right .withBadge {
  position: relative;
}

#topMenu .right .withBadge i {
  font-size: 2.4em;
  -webkit-transform: translateY(0.05em);
     -moz-transform: translateY(0.05em);
      -ms-transform: translateY(0.05em);
          transform: translateY(0.05em);
}

#topMenu .right .withBadge .badge {
  z-index: 1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #ea6161;
  position: absolute;
  top: 0;
  right: -1em;
  text-align: center;
  line-height: 1.7em;
  font-size: 1.2em;
  color: white;
}

#topMenu .right #searchForm .searchToggle {
  font-size: 2.4em;
  cursor: pointer;
  -webkit-transform: translateY(0.05em);
     -moz-transform: translateY(0.05em);
      -ms-transform: translateY(0.05em);
          transform: translateY(0.05em);
}

#topMenu .left > *:not(:first-child) {
  margin-right: 3em;
}

#topMenu .left a {
  font-size: 1.6em;
}

@media screen and (max-width: 430px) {
  #topMenu .right:last-child, #topMenu .left:last-child {
    margin-right: 3em;
  }
  #topMenu .right > *:not(:first-child) {
    margin-right: 2.5em;
  }
  #topMenu .left > *:not(:first-child) {
    margin-right: 1.5em;
  }
}

@media screen and (max-width: 330px) {
  #topMenu {
    font-size: 5.5px;
  }
}

nav {
  width: 100%;
  height: auto;
  background-color: white;
}

nav ul.desktop {
  width: 100%;
  height: 100%;
  padding: 0.75em 1.5em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li {
  width: auto;
  height: 100%;
}

nav ul.desktop li:not(:first-child) {
  margin-right: 3em;
}

nav ul.desktop li a {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #2d2d31;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

nav ul.desktop li a p {
  font-size: 1.6em;
}

nav ul.desktop li a i {
  font-size: 1.6em;
}

nav ul.desktop li a:hover {
  color: #ef6c00;
}

nav ul.desktop li.logo {
  position: absolute;
  top: 0;
  left: 1.5em;
}

nav ul.desktop li.logo a img {
  width: 10em;
  height: 3em;
  margin-right: 1em;
}

nav ul.desktop li:not(.withIcon):not(.dropdownTrigger):not(.logo):not(.bars) a {
  font-size: 1.6em;
}

nav ul.desktop .dropdownTrigger a i {
  margin-right: .5em;
}

nav ul.desktop .dropdownTrigger:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

nav ul.desktop .withSmallMenu {
  position: relative;
}

nav ul.desktop .withSmallMenu .dropdown {
  width: 25em;
  height: auto;
  position: absolute;
  top: 130%;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop .withSmallMenu .dropdown li {
  margin-right: 0;
  width: 100%;
  height: auto;
  color: #2d2d31;
  background-color: white;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

nav ul.desktop .withSmallMenu .dropdown li:hover {
  background-color: #e7e7e7;
}

nav ul.desktop .withSmallMenu .dropdown li:hover a {
  color: #ef6c00;
}

nav ul.desktop .withSmallMenu .dropdown li a {
  width: 100%;
  height: 100%;
  padding: 0.75em;
  font-size: 1.6em;
  color: #2d2d31;
}

nav ul.desktop li.bars {
  display: none;
  margin-right: 0;
}

nav ul.desktop li.bars i.fa-bars {
  display: inline-block;
  width: auto;
  height: 100%;
  cursor: pointer;
  color: #2d2d31;
  font-size: 4em;
}

nav ul.desktop li.bars ul.mobile {
  opacity: 0;
  visibility: hidden;
  width: 35em;
  max-height: 80vh;
  overflow: auto;
  position: absolute;
  top: 105%;
  right: 1.5em;
}

nav ul.desktop li.bars ul.mobile li {
  width: 100%;
  height: auto;
  background-color: white;
  margin-right: 0;
  border-bottom: 1px solid #c6c6cb;
}

nav ul.desktop li.bars ul.mobile li:last-child {
  border-bottom: none;
}

nav ul.desktop li.bars ul.mobile li a, nav ul.desktop li.bars ul.mobile li .fullScreenTrigger {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li a i, nav ul.desktop li.bars ul.mobile li .fullScreenTrigger i {
  color: #2d2d31;
  font-size: 2em;
}

nav ul.desktop li.bars ul.mobile li a p, nav ul.desktop li.bars ul.mobile li .fullScreenTrigger p {
  font-size: 2em;
  color: #2d2d31;
}

nav ul.desktop li.bars ul.mobile li a p:not(:first-child), nav ul.desktop li.bars ul.mobile li a i:not(:first-child), nav ul.desktop li.bars ul.mobile li .fullScreenTrigger p:not(:first-child), nav ul.desktop li.bars ul.mobile li .fullScreenTrigger i:not(:first-child) {
  margin-right: .3em;
}

nav ul.desktop li.bars ul.mobile li:hover:not(.logo):not(.withCollapse) {
  background-color: #ebebeb;
}

nav ul.desktop li.bars ul.mobile li.logo {
  position: static;
}

nav ul.desktop li.bars ul.mobile li.logo a {
  padding: 1.5em 0.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.logo a img {
  width: 20em;
  height: 10em;
  margin-right: 0;
}

nav ul.desktop li.bars ul.mobile li.logo a p {
  margin-top: 0;
  font-weight: 700;
  font-size: 2.4em;
}

nav ul.desktop li.bars ul.mobile li:not(.logo):not(.withIcon):not(.withCollapse):not(.fullScreen) a {
  padding: 0.5em 0.75em;
  font-size: 2em;
  color: #2d2d31;
}

nav ul.desktop li.bars ul.mobile li.withCollapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger {
  width: 100%;
  height: auto;
  padding: 0.95em 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger:hover {
  background-color: #ebebeb;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger p, nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger i {
  font-size: 2em;
  color: #2d2d31;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger p:nth-child(2), nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger i:nth-child(2) {
  margin-right: .5em;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapse {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapse a {
  font-size: 2em;
  color: #2d2d31;
  padding: 0.3em 1.5em 0.3em 0.75em;
  background-image: transparent;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapse a:hover {
  background-color: #ebebeb;
}

nav ul.desktop li.bars ul.mobile.show {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

@media screen and (max-width: 600px) {
  nav ul.desktop > li:not(.bars) {
    display: none;
  }
  nav ul.desktop li.bars {
    display: block;
  }
}

header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

@media screen and (max-width: 950px) {
  header {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  header {
    font-size: 6px;
  }
}
/*# sourceMappingURL=header.css.map */