@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../utilities/styles/form.scss' ;
form#changePassword{
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontL;
        font-weight: 700;
        color: $textDark;
    }
    button[type="submit"]{
        @include swapColor(white,lighten($primaryColor,10%)) ;
        margin-top: $dist2;
    }
}