@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#products{
    padding: $dist2;
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontL;
        font-weight: 700;
        color: $textDark;
    }
    .grid{
        width: 100%;
        height: auto;
        margin-top: $dist2;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        .row{
            width: 100%;
            display: flex;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            &:nth-child(1){
                height: 40em;
                .col{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    &:nth-child(1){
                        .product{
                            width: 100%;
                            height: 50%;
                            &:nth-child(2){margin-top: $dist2;}
                            img{height:20em;}
                        }
                    }
                    &:nth-child(2){
                        margin-right: $dist2;
                        .product{
                            width: 100%;
                            height: 100%;
                            img{height: 40em;}
                        }
                    }
                }
            }
            &:nth-child(2){
                height: 30em;
                margin-top: $dist2;
                .product{
                    width: 100%;
                    height: 100%;
                    img{height: 30em;}
                }
            }
            .product{
                overflow: hidden;      
                &:hover{
                    // .animationHelper{
                    //     transform: translateY(-3em);
                    //find this value via js 
                    // }
                }
                .animationHelper{
                    width: 100%;
                    height: auto;
                    transition: all .5s ease-in-out;
                    display: flex;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                    p{
                        width: 100%;
                        height: auto;
                        padding: $dist1;
                        font-size: $fontL;
                        font-weight: 700;
                        color: white;
                        text-align: center ;
                        background-color: $primaryColor;
                    }
                }
            }
        }
    }
}