#report {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#report .contact, #report .social, #report #admin {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#report .contact:not(:first-child), #report .social:not(:first-child), #report #admin:not(:first-child) {
  margin-top: 1.5em;
}

#report .contact:not(:last-child), #report .social:not(:last-child), #report #admin:not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
  padding-bottom: 1.5em;
}

#report .contact h4, #report .social h4, #report #admin h4 {
  font-size: 1.8em;
  font-weight: 700;
  color: #2d2d31;
}

#report .contact .wrapper, #report .social .wrapper, #report #admin .wrapper {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

#report .contact .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#report .contact .wrapper .item {
  width: -webkit-calc((100% - (4 * 3em)) / 4);
  width: -moz-calc((100% - (4 * 3em)) / 4);
  width: calc((100% - (4 * 3em)) / 4);
  height: auto;
  margin: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#report .contact .wrapper .item .title {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #c6c6cb;
}

#report .contact .wrapper .item .title i {
  font-size: 1.6em;
}

#report .contact .wrapper .item .title p {
  font-size: 1.6em;
  margin-right: .3em;
}

#report .contact .wrapper .item .txt {
  max-width: 100%;
  font-size: 1.6em;
  color: #ef6c00;
}

#report .social .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#report .social .wrapper a {
  width: auto;
  height: auto;
  margin: 1.5em 3em;
}

#report .social .wrapper a i {
  width: 5em;
  height: 5em;
  -webkit-transform: perspective(1000px) rotate(45deg) translateZ(0);
     -moz-transform: perspective(1000px) rotate(45deg) translateZ(0);
          transform: perspective(1000px) rotate(45deg) translateZ(0);
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
  background-color: #ff943d;
  border: 1.2px solid transparent;
  position: relative;
}

#report .social .wrapper a i:hover {
  color: #ff943d;
  background-color: white;
  border: 1.2px solid #ff943d;
}

#report .social .wrapper a i:hover {
  -webkit-transform: perspective(1000px) rotate(45deg) translateZ(15em);
     -moz-transform: perspective(1000px) rotate(45deg) translateZ(15em);
          transform: perspective(1000px) rotate(45deg) translateZ(15em);
}

#report .social .wrapper a i::before {
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 2.4em;
  -webkit-transform: translate(50%, -50%) rotate(-45deg);
     -moz-transform: translate(50%, -50%) rotate(-45deg);
      -ms-transform: translate(50%, -50%) rotate(-45deg);
          transform: translate(50%, -50%) rotate(-45deg);
  color: inherit;
}

@media screen and (max-width: 1000px) {
  #report .contact .wrapper .item {
    width: -webkit-calc((100% - (3 * 3em)) / 3);
    width: -moz-calc((100% - (3 * 3em)) / 3);
    width: calc((100% - (3 * 3em)) / 3);
  }
}

@media screen and (max-width: 950px) {
  #report {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  #report {
    font-size: 6px;
  }
}

@media screen and (max-width: 550px) {
  #report .contact .wrapper .item {
    width: -webkit-calc((100% - (2 * 3em)) / 2);
    width: -moz-calc((100% - (2 * 3em)) / 2);
    width: calc((100% - (2 * 3em)) / 2);
  }
}

@media screen and (max-width: 450px) {
  #report {
    width: 95%;
  }
}
/*# sourceMappingURL=report.css.map */