@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import './currFilters.scss' ;
@import './filters.scss' ;
@import './sort.scss' ;
@import './products.scss' ;
#filterProductsWrapper{
    width: 90%;
    height: auto;
    margin: $sectionsDist auto 0 auto;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    #filtersWrapper{
        flex-shrink: 0;
        width: 30em;
        height: auto;        
    }
    #productsWrapper{
        width: 100%;
        height: auto;
        margin-right: $dist3;
    }
}